@import "./Globals.less";

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr 50px;
  grid-template-areas:
    "h h h h h"
    "n c c c c"
    "n c c c c"
    "n c c c c"
    "f f f f f";
  width: 100vw;
  height: 100vh;
}

// ~~~~~~ Layout ~~~~~~ //
.header {
  grid-area: h;
  display: flex;
  justify-content: flex-end;
  background-color: @ocat-dark-grey;
  height: 100%;
  width: 100%;
  color: white;
}
.navigation {
  grid-area: n;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background-color: @ocat-pink;
  position: fixed;
  animation: slide 1s ease 3.5s;
  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    li {
      transition: background-color 0.5s ease;
      margin: 10px 0;
      padding: 5px 10px;
      &:hover {
        background-color: @ocat-blue;
      }
    }
  }
  .nav-head {
    width: 100%;

    img {
      width: 100%;
      // height: 15vh;
    }
  }
  .nav-foot {
    height: 15vh;
    margin-bottom: 5vh;
  }
}

.content {
  grid-area: c;
  display: flex;
  background-color: @ocat-black;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: f;
  background-color: @ocat-dark-grey;
  height: 100%;
  width: 100%;
}

// ~~~~~~ Utilities ~~~~~~ //

.spacer {
  margin-bottom: 6em;
}
.spacer-small {
  margin-bottom: 2em;
}
.spacer-smaller {
  margin-bottom: 1em;
}
.spacer-smallest {
  margin-bottom: 0.5em;
}
.width-full {
  width: 100%;
}
.width-half {
  width: 50%;
}
.width-qtr {
  width: 25%;
}

.pointer {
  cursor: pointer;
}

// ~~~~~~ Color Utilities ~~~~~~ //
.fill-black {
  background-color: black;
}
